/* Google Font importeres */
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Press+Start+2P&display=swap');

/* CSS for basen af index siden */
#indexHTML, #indexBody {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(rgb(40,40,40), black);
  width: 100vw;
  position: absolute;
  display:grid;
  grid-template:
    "title title title" 1fr
    "uploadField uploadField uploadField" 1fr
    "dtmfButton startButton morseButton" 1fr / 1fr 1fr 1fr;
}

/* CSS for basen af morse siden */
#morseHTML, #morseBody {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(rgb(40,40,40), black);
  width: 100vw;
  position: absolute;
  display:grid;
  grid-template:
    "title title" 1fr
    "morseVisual decodedMorse" 3fr;
}

/* Styling af overskrifter */
#title {
  grid-area:title;
  text-align: center;
  font-family: 'Press Start 2P', display;
  font-size: 30px;
  line-height: 3em;
  color: white;
  text-shadow: -1px -1px 0 #00f, 1px -1px 0 #00f, -1px 1px 0 #00f, 1px 1px 0 #00f;
  cursor: default;
  width: 100%;
  height: 100%;
}

/* Styling af upload feltet */
#uploadField {
  grid-area: uploadField;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  margin: 40px;
  text-align: center;
  color: white;
}

/* Styling af upload feltet */
#fileNameField {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 50px;
  margin: 0;
}

/* Styling af alle knappen */
.button {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 50px;
  border: white solid 2px;
  border-radius: 24px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Styling af aktive knapper */
.button.active {
  background-color: #00f;
}

/* Styling af knapperne når de ikke er aktive */
.button:not(.active) {
  background-color: #555;
}

/* Styling af knapperne når de ikke er aktive og musen er over dem */
.button.button:not(.active):hover {
  background-color: #666;
  text-shadow: -2px -2px 0 #00f, 2px -2px 0 #00f, -2px 2px 0 #00f, 2px 2px 0 #00f;
}

/* Styling til DTMF mode knappen */
#dtmfButton {
  grid-area: dtmfButton;
  margin: 30px;
  margin-top: 0;
}

/* Styling til morse mode knappen */
#morseButton {
  grid-area: morseButton;
  margin: 30px;
  margin-top: 0;
}

/* Styling til start upload (til server) knappen */
#startButton {
  grid-area: startButton;
  margin-bottom: 30px;
}

/* Styling til upload (af fil til lokal storage) knappen */
#uploadButton:hover {
  background-color: #666;
  text-shadow: -2px -2px 0 #00f, 2px -2px 0 #00f, -2px 2px 0 #00f, 2px 2px 0 #00f;
}

/* Styling til loading display */
#loadingDisplay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.5);
  place-items: center;
  justify-content: center;
  z-index: 5;
}

/* Styling til de runde knapper på morse siden */
.round {
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 50px !important;
  line-height: 1.5;
}

/* Styling til de runde knapper på morse siden når de bliver hoveret */
.round:hover {
  border-color: #00f;
}

/* Styling til den runde clear knap til output feltet */
#clearButton {
  text-indent: 2.5px;
}

/* Styling til output div'en, som indeholder morse output og knapper der tilhører */
#morseOutDiv {
  grid-area: decodedMorse;
  display: grid;
  grid-template-rows: 0.08fr 0.72fr 0.2fr;
  padding: 50px;
  padding-bottom: 0;
  padding-top: 0;
  row-gap: 10px;
}

/* Styling til output feltets knapper */
#morseOutButtons {
  display: flex;
  place-content: left;
  padding-left: 15px;
  position: relative;
  justify-content: space-between;
  width: 165px;
}

/* Styling til morse sidens overskrift */
#morseTitle {
  text-align: left;
  font-family: 'Press Start 2P', display;
  font-size: 30px;
  color: white;
  text-shadow: -1px -1px 0 #00f, 1px -1px 0 #00f, -1px 1px 0 #00f, 1px 1px 0 #00f;
  cursor: default;
  position: relative;
  margin-bottom: 0;
  margin-top: 150px;
}

/* Styling til visueliseringen af morse (Dette er div'en) */
#morseVisual {
  grid-area: morseVisual;
  display: grid;
  grid-template: 
  "morseBar" 1fr
  "ctrlPanel" 1fr;
  place-items: center;
  position: relative;
  top: 4vh;
}

/* Styling til styring af morse videoen */
#controlPanel {
  grid-area: ctrlPanel;
  display: flex;
  justify-content: space-evenly;
  top:-8vh;
  position: absolute;
  width: 30%;
  margin: 30px;
}

/* Styling af morse videoen */
#morseBarDisplay {
  grid-area: morseBar;
  display: block;
  width: 60%;
  position: relative;
  top:5vh;
}

/* Styling til styring af morse videoens lydstyrke */
#volumeControl {
  position: relative;
  display: inline-block;
}

/* Styling til output feltets overskrift */
#visualText {
  font-family: 'Press Start 2P', display;
  font-size: 30px;
  color: white;
  text-shadow: -1px -1px 0 #00f, 1px -1px 0 #00f, -1px 1px 0 #00f, 1px 1px 0 #00f;
  position:fixed;
  top: calc(50% - 95px);
  left: 10.5vw;
}

/* Styling til morse videoens lydstyrke knap */
#volumeButton {
  position: relative;
  z-index: 2;
}

/* Styling til lydstyrke slideren */
#volumeSlider {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  width: 150px;
  height: 30px;
  background: lightgray;
  border: none;
  border-radius: 15px;
  outline: none;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

/* Styling til lydstyrke sliderens knap (som flyttes) i Chrome */
#volumeSlider::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  background: blue;
  border-radius: 50%;
  cursor: pointer;
}

/* Styling til lydstyrke sliderens knap (som flyttes) i Firefox */
#volumeSlider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: blue;
  border-radius: 50%;
  cursor: pointer;
}

/* Styling til lydstyrke slideren når lydstyrkeknappen er hoveret */
#volumeControl:hover #volumeSlider {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

/* Styling til lydstyrke slideren når lydstyrkeknappen ikke er hoveret */
#volumeControl:not(:hover) #volumeSlider {
  opacity: 0;
  visibility: hidden;
  transition-delay: 1s;
}

/* Styling til morse output feltet */
#morseOutput {
  font-family: 'Press Start 2P', display;
  font-size: 1em;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  resize: none;
  background-color: #555;
  color: #fff;
  border-radius: 10px;
  border: 3px solid white;
}