@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(rgb(40,40,40),black);
}

canvas {
  display: block;
}

#title {
  text-align: center;
  position: relative;
  top: 5vh;
  font-family: 'Press Start 2P',display;
  font-size: 30px;
  line-height: 2em;
  color:white;
  text-shadow: -1px -1px 0 #00f, 1px -1px 0 #00f, -1px 1px 0 #00f, 1px 1px 0 #00f;
}