<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DTMF & MORSE DECODER</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
  <div id="loadingDisplay" hidden>
    <img src="{{ url_for('static', filename='loadingIcon.svg') }}" alt="Loading...">
  </div>

  <div id="title">
    <h1>DTMF & MORSE<br>DECODER</h1>
  </div>

  <form id="uploadForm" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
    <div id="uploadField">
      <h2 id="fileNameField">
        {% if err %}
          {{ err }}
        {% else %}
          No file uploaded yet
        {% endif %}
      </h2>

      <input type="file" name="file" id="soundUpload" hidden required>
      <label for="soundUpload" class="button" id="uploadButton">Click here to upload sound</label>
      <input type="hidden" name="type" id="uploadType" value="">
    </div>

    <button type="button" id="dtmfButton" class="button">Click here to select DTMF</button>
    <button type="submit" class="button" id="startButton">Start decoder!</button>
    <button type="button" id="morseButton" class="button">Click here to select morsecode</button>
  </form>
</body>
</html>
