<!DOCTYPE html>
<html lang="en" id="indexHTML">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DTMF & MORSE DECODER</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body id="indexBody">
  <div id="loadingDisplay" hidden>
    <img src="{{ url_for('static', filename='loadingIcon.svg') }}" alt="Loading..." >
  </div>
  <div id="title">
    <h1>DTMF & MORSE<br>DECODER</h1>
  </div>

  <div id="uploadField">
    <h2 id="fileNameField">{{ 'No file uploaded yet' if not err else err }}</h2>
    <input type="file" id="soundUpload" onchange="" hidden>
    <label for="soundUpload" class="button" id="uploadButton">Click here to upload sound</label>
  </div>

  <button id="dtmfButton" class="button" onclick="toggleButton('dtmf')">Click here to select DTMF</button>
  <button class="button" id="startButton">Start decoder!</button>
  <button id="morseButton" class="button" onclick="toggleButton('morse')">Click here to select morsecode</button>

</body>
</html>