<!DOCTYPE html>
<html lang="en" id="morseHTML">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MORSE DECODER</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='morse.js') }}" defer></script>
</head>
<body id="morseBody">
  <div id="loadingDisplay">
    <img src="{{ url_for('static', filename='loadingIcon.svg') }}" display="flex">
  </div>

  <div id="title">
    <h1>MORSE DECODER</h1>
  </div>

  <video id="morseBarDisplay" loop oncanplaythrough="this.play(); document.getElementById('loadingDisplay').style.display='none';">
    <source src="{{ video_path }}" type="video/mp4">
  </video>
</body>
</html>
