<!DOCTYPE html>
<html lang="en" id="morseHTML">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MORSE DECODER</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='morse.js') }}" defer></script>
</head>
<body id="morseBody">
  <div id="loadingDisplay">
    <img src="{{ url_for('static', filename='loadingIcon.svg') }}" display="flex">
  </div>

  <div id="title">
    <h1>MORSE DECODER</h1>
  </div>

  <video id="morseBarDisplay" loop
  oncanplaythrough="document.getElementById('loadingDisplay').style.display='none';"
  onplay="document.getElementById('ppButton').innerText = '⏸';"
  onpause="document.getElementById('ppButton').innerText = '▶';"
  >
  
    <source src="{{ video_path }}" type="video/mp4">
  </video>

  <div id="controlPanel">
    <button id="ppButton" class="button stopped round" onclick="togglePlay()">▶</button>
    <button id="stopButton" class="button round" onclick="stopVideo()">⏹</button>
  </div>

  <div id="morseOutDiv">
    <h2 id="morseText">DECODED TEXT</h2>
    <input type="text" id="morseOutput" placeholder="Decoded text will appear here">
    <div id="morseOutButtons">
      <button id="copyButton" class="button round" onclick="copyToClipboard()">⧉</button>
      <button id="clearButton" class="button round" onclick="document.getElementById('morseOutput').value = '';">🗑</button>
    </div>

  </div>

</body>
</html>
